{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Years list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Releasedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for year in years %}
            <tr>
                <td><a href="{{ path('year_show', { 'id': year.id }) }}">{{ year.id }}</a></td>
                <td>{{ year.releaseDate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('year_show', { 'id': year.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('year_edit', { 'id': year.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('year_new') }}">Create a new year</a>
        </li>
    </ul>
{% endblock %}
