<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
            {% endblock %}
            - CinéMove
        </title>
        <meta name="description" content="Tu veux connaitre les dernières sorties au cinéma ou DVD/BlueRay, c'est ici que tu les trouvera">
    </head>
        <link rel="icon" type="image/x-icon" href="{{ asset('') }}" />
        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" media="all">
    <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Pacifico|Permanent+Marker" rel="stylesheet">
    <!-- ICONS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <stylesheets>
            {% block stylesheets %}
            {% endblock %}
        </stylesheets>
    </head>

    <body>

        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}

            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>}
            <script src="{{ asset('js/materialize.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
