{% extends 'layout.html.twig' %}

{% block body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/modal.css') }}">
{% endblock %}

    <!-- SLIDER  -->
    <div class="slider">
        <ul class="slides">

            {#MOVIES LOOP#}

            {% for movie in movies %}

                {# testing 1srt media #}

                {% if movie.media != null and movie.videos == null%}

                    <li>
                        <a href="{{ path('movies_show', { 'id': movie.id }) }}">
                            <img src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}"/>
                        </a>
                    </li>

                {% elseif movie.media != null and movie.videos != null %}

                    <li>
                        {# testing if videos #}

                        <video class="video-wrap-slide" preload="auto" muted controls autoplay="true">
                            <source src="{{ asset(movie.videos.videoPath) }}" type="video/mp4">
                        </video>
                        <img src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}" class="image-wrap"/>
                    </li>

                {% endif %}

            {% endfor %}

            {# CALENDAR LOOP #}
            {% for agenda in agendas %}

                <li>
                    {% if agenda.media != null %}
                        <img src="{{ asset(agenda.media.picpath) }}" alt="{{ agenda.media.picname }}"/>
                    {% endif %}
                    <div class="caption center-align">
                        <h3 class="font-slide">{{ agenda.titre }}</h3>
                        <h5 class="font-slide">{{ agenda.lieu }}</h5>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

    <!----------------------------------------- ---------------------------------------------->

    <div class="container">
        <div class="row">

            <!-- Random 3 movies -->
            <div class="col s12 m6 l6 center">

                <div class="row">
                    <div class="col s12 m6 l6 ">
                        <h4 class="">Notre sélection du jour</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ul class="collapsible">
                        {% for randomMovie in randomMovies|shuffle|slice(0,3) %}
                            <li>
                                <div class="collapsible-header">
                                    <img id="{{ randomMovie.id }}" src="{{ asset(randomMovie.media.picpath) }}" alt="{{ randomMovie.media.picname }}" class="random-pic left"/>
                                    <span class="center">{{ randomMovie.movies }}</span>
                                </div>
                                <div class="collapsible-body"><span>{{ randomMovie.resume }}</span></div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            <!-- CALENDAR OF EVENTS -->
            <div class="col s12 m6 l6">

                <div class="row">
                    <div class="col s12">
                        <h4>Ce mois ci au ciné</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% include '@Calendar/fullcalendar/views/agenda-views.html.twig' %}
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#FOS JS ROUTING SCRIPT#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/calendar/js/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/main_calendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/calendar-events.js') }}"></script>

{% endblock %}