{% extends 'layout.html.twig' %}

{% block body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/calendar/css/modal.css') }}">
{% endblock %}

    <!-- SLIDER DES DERNIERES CREATIONS -->
    <div class="slider">
        <ul class="slides">

            {#MOVIES LOOP#}

            {% for movie in movies %}

                <li>
                    {% if movie.media != null %}
                        <img src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}"/>
                    {% endif %}

                    {# IF TEXT IS REQUIRED #}
                    {#<div class="caption center-align">#}
                        {#<h3 class="font-slide">{{ subGallery.sgallery }}</h3>#}
                        {#<h5 class="font-slide">{{ subGallery.gallery }}</h5>#}
                    {#</div>#}
                </li>

            {% endfor %}
            {% for agenda in agendas %}

                <li>
                    {% if agenda.media != null %}
                        <img src="{{ asset(agenda.media.picpath) }}" alt="{{ agenda.media.picname }}"/>
                    {% endif %}
                    <div class="caption center-align">
                        <h3 class="font-slide">{{ agenda.titre }}</h3>
                        <h5 class="font-slide">{{ agenda.lieu }}</h5>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

    <!----------------------------------------- ---------------------------------------------->

    <div class="container">
        <div class="row">

            <!-- ABOUT -->
            <div class="col s12 m6 l6 center">

                <div class="row">
                    <div class="col s12 m6 l6 ">
                        <h4 class="">Je me présente</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">


                    </div>
                </div>

            </div>

            <!-- CALENDAR OF EVENTS -->
            <div class="col s12 m6 l6">

                <div class="row">
                    <div class="col s12">
                        <h4>Les évènements</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% include '@Calendar/fullcalendar/views/agenda-views.html.twig' %}
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#FOS JS ROUTING SCRIPT#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/calendar/js/calendar/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/main_calendar.js') }}"></script>
    <script src="{{ asset('bundles/calendar/js/calendar/calendar-events.js') }}"></script>
{% endblock %}