{% extends 'layout.html.twig' %}

{# BLOC TITLE FOR TAB OF NAVIGATION#}
{% block title %}
    {% for category in categories %}
        {{ category.category }}
    {% endfor %}
{% endblock %}

{# SPECIFIC STYLESHEET FOR THIS PAGE #}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/effects/style_common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/effects/style.css') }}" />
{% endblock %}

{% block body %}


    {# TEST FOR RESPONSE OF MOVIES#}
    {% if movies != null  %}

        <div class="container">
            <div class="row">

                <ul class="grid" id="grid">
                    {% for movie in movies %}
                        <li class="grid-item">
                            <a class="modal-trigger" href="#modal{{ movie.id }}">
                                <img id="{{ movie.id }}" src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}" class="picratio"/>
                            </a>
                            <p class="center">{{ movie.movies }}</p>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            {# LOOP FOR MODAL STRUCTURE #}
            {% for movie in movies %}
                <!------------------------------- --------------- ------------------------------------->
                <!------------------------------- --------------- ------------------------------------->
                <!------------------------------- MODAL STRUCTURE ------------------------------------->
                <!------------------------------- --------------- ------------------------------------->
                <!------------------------------- --------------- ------------------------------------->

                <div id="modal{{ movie.id }}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4 class="center">{{ movie.movies }}</h4>
                        <p>Date de sortie : {{ movie.releaseDate|date('d-m-Y') }}</p>
                        <p>auteur : {{ movie.author }}</p>
                        <div>
                            <img id="{{ movie.id }}" src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}" class="picratio-modal right"/>
                        </div>
                        <div class="">
                            <p>acteurs : {{ movie.actors }}</p>
                        </div>
                        <div class="">
                            <p>Synopsis :</p>
                            <p>{{ movie.resume }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">

                        {# ################# IF ADMIN IS GRANTED ###########################c#}
                        {% if is_granted('ROLE_ADMIN') %}

                            <a href="{{ path('movies_edit', { 'id': movie.id }) }}" class="left">
                                <img src="{{ asset('images/local/icons/edit.svg') }}" class="plus-icon">
                            </a>

                        {% endif %}
                        {# ################################################################## #}

                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Quitter</a>
                    </div>
                </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="container">

            <div class="valign-wrapper">
                <h5>Nous n'avons pas trouvé votre recherche</h5>
            </div>

        </div>

    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col s12 center">

                {# ################# Si L'ADMIN EST ACTIF ###########################c#}
                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('movies_new') }}" class="btn-floating btn-large waves-effect waves-light green darken-1 modal-action modal-close bouton-new">
                        <i class=" material-icons">add</i>
                    </a>

                {% endif %}
                {# ################################################################## #}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/masonry_grid/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/effects/jquery.elevateZoom-3.0.8.min.js') }}"></script>

    <script>

        // ********************************************************************
        // *                    GRID FOR PICTURES
        // ********************************************************************

        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 200
        });

    </script>

    <script>
        // ********************************************************************
        // *                    ZOOM IMAGE
        // ********************************************************************

        //Lens Zoom
        function zoomer() {

            console.log('ma fonction zoom');

            {% for movie in movies %}

            // INNER ZOOM
            $("#{{ movie.id }}").elevateZoom({

            });

            // OPTIONS FOR DIFFERENT ZOOM

            //INNER
            //zoomType : "inner",
            // cursor: "crosshair"

            // LENS
            // zoomType : "lens",
            // lensShape : "round",
            // lensSize : 150

            // COLOR OF BACK
            // tint:true,
            // tintColour:'#F90',
            // tintOpacity:0.5

            // FADE IN / FADE OUT
            // zoomWindowFadeIn: 500,
            // zoomWindowFadeOut: 500,
            // lensFadeIn: 500,
            // lensFadeOut: 500

            // MOUSEWHEEL
            // scrollZoom : true

            // EASING
            // easing : true


            {% endfor %}

        }
        zoomer();
    </script>

{% endblock %}