{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="header-marge">
            <div class="row">
                <h1 class="center">Ajouter un nouveau film</h1>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">

                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Sélection de la catégorie :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(form.gallery) }}
                            {{ form_errors(form.gallery) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Nom du nouveau film :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(form.movies) }}
                            {{ form_errors(form.movies) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p class="calendar-p valign">Ajouter une image (Max : 2Mo) :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(form.media, { 'attr': {'class': 'calendar-responsive-input'} }) }}
                            {{ form_errors(form.media) }}
                        </div>
                    </div>

                </div>
                <div class="col s12 m6 l6">

                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Date de sortie :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(form.year) }}
                            {{ form_errors(form.year) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Mettre en avant :</p>
                        </div>
                        <div class="switch">
                            <label>
                                Off
                                {{ form_widget(form.slider, { 'attr': {'class': 'checksize'} }) }}
                                {{ form_errors(form.slider) }}
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>

                    <div class="center">
                        <div class="col s12 center">
                            <button class="left" type="submit">
                                <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                            </button>

                            <a class="" href="{{ path('homepage') }}">
                                <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon">
                            </a>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
