{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <h1 class="center">Ajouter un nouveau film</h1>
        </div>

        {# NEW MOVIES FORM #}
        {{ form_start(form, { 'attr': {'onsubmit': 'ShowLoading()'} }) }}

        {#1rt part TOP left col #}
        <div class="row">
            <div class="col s12 m4 l4">

                <div class="row">
                    <p>Sélection de la catégorie :</p>
                    {{ form_widget(form.gallery) }}
                    {{ form_errors(form.gallery) }}
                </div>

                <div class="row">
                    <p>Nom du nouveau film :</p>
                    {{ form_widget(form.movies) }}
                    {{ form_errors(form.movies) }}
                </div>

                <div class="row">
                    <p>Nationalité :</p>
                    {{ form_widget(form.nationality) }}
                    {{ form_errors(form.nationality) }}
                </div>



            </div>


        {#2nd pert TOP center col#}

            <div class="col s12 m4 l4">

                <div class="row">
                    <p>Définir l'auteur :</p>
                    {{ form_widget(form.author) }}
                    {{ form_errors(form.author) }}
                </div>

                <div class="row">
                    <p>Acteurs principaux :</p>
                    {{ form_widget(form.actors) }}
                    {{ form_errors(form.actors) }}
                </div>

                <div class="row">
                    <p>Synopsis :</p>
                    {{ form_widget(form.resume) }}
                    {{ form_errors(form.resume) }}
                </div>

                <div class="row position-zIndex">
                    <p>Date de sortie :</p>
                    {{ form_widget(form.releaseDate) }}
                    {{ form_errors(form.releaseDate) }}
                </div>

            </div>

             {# 3rd PART TOP  right col #}
            <div class="col s12 m4 l4">
                <div class="row">
                    <p class="calendar-p valign">Ajouter une image (Max : 2Mo) :</p>
                    {{ form_widget(form.media, { 'attr': {'class': 'calendar-responsive-input'} }) }}
                    {{ form_errors(form.media) }}
                </div>

                <div class="row">
                    <p>Bande annonce (MP4 64mo) :</p>
                    {{ form_widget(form.videos) }}
                    {{ form_errors(form.videos) }}
                </div>

                <div class="row">
                    <p>Mettre en avant :</p>
                    <div class="switch">
                        <label>
                            Off
                            {{ form_widget(form.slider, { 'attr': {'class': 'checksize'} }) }}
                            {{ form_errors(form.slider) }}
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>

            </div>

        </div>

        {# BUTTONS TO LOAD PAGES #}
        <div class="row">
            <div class="center">
                <div class="col s12 center">
                    <button class="left" type="submit">
                        <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                    </button>

                    <a class="" href="{{ path('homepage') }}">
                        <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon">
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

    {# PRELOADER ONCLICK JS TO WAIT UPLOADING VIDEOS #}
    <script type="text/javascript">
        function ShowLoading(e) {
            var div = document.createElement('div');
            var img = document.createElement('img');
            img.src = '{{ asset('images/local/icons/train.gif') }}';
            div.innerHTML = "Chargement en cours...<br />";
            div.style.cssText = 'position: absolute; top: 25%; left: 10%; z-index: 99999; width: 1200px; height: 720px; text-align: center; background: #EDDBB0; border: 0px solid #000';
            div.appendChild(img);
            document.body.appendChild(div);
            return true;
            // These 2 lines cancel form submission, so only use if needed.
            //window.event.cancelBubble = true;
            //e.stopPropagation();
        }
    </script>

{% endblock %}
