{% extends 'layout.html.twig' %}

{# BLOC TITLE FOR TAB OF NAVIGATION#}
{% block title %}
    {{ movie.movies }}
{% endblock %}

{% block body %}

<div class="container">

    <div class="row center">
        <h1>{{ movie.movies }}</h1>
    </div>

    {# TABLE FOR RANKING 1 MOVIE #}
    <div class="row">
        <div class="col s12 m6 l4">
            <table>
                <tbody>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ movie.gallery.category }}</td>
                </tr>
                <tr>
                    <th>Date de sortie</th>
                    <td>{{ movie.releaseDate|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ movie.author }}</td>
                </tr>
                <tr>
                    <th>Acteurs</th>
                    <td>{{ movie.actors }}</td>
                </tr>
                <tr>
                    <th>Synopsis</th>
                    <td>{{ movie.resume }}</td>
                </tr>

                {# IF ADMIN ACTIVE VIEW #}
                {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Slider</th>
                    <td>{% if movie.slider %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

        {% if movie.media != null %}
            <div class="col s12 m6 l6 right">
                <img id="{{ movie.id }}" src="{{ asset(movie.media.picpath) }}" alt="{{ movie.media.picname }}" class="picratio right"/>
            </div>
        {% endif %}

    </div>

    {% if movie.videos != null %}
        <div class="row">
            <div class="col s12">
                <p class="center">
                    <video class="video-wrap" preload="auto" controls poster="{% if movie.media != null %}{{ movie.media.picpath }}{% endif %}">
                        <source src="{{ asset(movie.videos.videoPath) }}" type="video/mp4">
                    </video>
                </p>
            </div>
        </div>
    {% endif %}

    <div class="center">

        {# IF ADMIN ACTIVE BOUTON #}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('movies_edit', { 'id': movie.id }) }}"
               data-position="bottom"
               data-delay="50"
               data-tooltip="Accueil">
                <img src="{{ asset('images/local/icons/edit.svg') }}" class="plus-icon"
                     data-position="bottom"
                     data-delay="50"
                     data-tooltip="Accueil">
            </a>
        {% endif %}

        <a class="plus-icon" href="{{ path('homepage') }}">
            <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon"
                 data-position="bottom"
                 data-delay="50"
                 data-tooltip="Accueil">
        </a>
    </div>

</div>


{% endblock %}
